.toolbar {
    --background: #a9c480;
  }
  
  .title {
    color: rgb(255, 255, 255);
    margin: auto;
    text-align: center;
    font-weight: 700;
  }
  
  .toolBarItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  .logo{
    width: 80px;
  }
  
  .card {
    --background: whitesmoke;
    margin: 2.5rem;
  }

  .avatar-card{
    width: 400px;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
  }
  
  .welcome-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem;
  }
  
  .bold-title {
    font-weight: 700;
  }
  
  .time {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  .time .icon {
    margin-right: 0.5rem;
  }
  
  .rec-container {
    margin: 2.5rem;
  }

  .rec-section{
    display: flex;
    flex-wrap: wrap;
  }
  
  .recipe-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 270px;
  }
  
  .recipe-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin: 1rem 0;
  }
  
  .recipe-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .recipe-subtitle {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .recipe-ingredients {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  .button-color{
    --background: #89B449;
  }

.chat-icon{
  margin-top: 10px;
}

/* .chatbot-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
} */

/* .chatbot-container > * {
  width: 100%;
  height: 100%;
} */